<div ng-controller="CopiesPanelCtrl as copiesPanelCtrl" class="receipt-value col-xs-8 col-sm-4 col-sm-offset-8 col-md-6 col-lg-6 col-xs-offset-0 col-md-offset-3 col-lg-offset-3" >
		<div id="copies-div" class="error-text" data-toggle="popover" data-placement="right" data-content="Use a number"> 
			<div class="input-group col-xs-8 col-sm-8 col-md-12 col-lg-12">
				<input name="copies" 
						id="copies-amount" 
						ng-pattern="::regex" 
						type="text" 
						class="form-control" 
						ng-model="copiesPanelCtrl.options.copies" 
						maxlength="3" />
				<span class="input-group-btn">
					<button id="add-copy-button" type="button" class="btn btn-default active incr-btn" value=true ng-click="increment()"> + </button>
					<button id="subtract-copy-button" type="button" class="btn btn-default active incr-btn" value=false ng-click="increment(-1)"> - </button> 
				</span>
			</div>
		</div>
		<div id="copies-error" ng-show="optionsForm.copies.$invalid" class="col-xs-12 col-sm-12 col-md-offset-2 col-md-10 col-lg-12">
			Invalid copies
		</div>
</div>